/*
  example:
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #fff
  }
  
  h1 {
    @include font(128, 122, 500);
  
    @include media-breakpoint-down(md) {
      @include font(56, 53, 500);
    }
  }
  
  h2 {
    @include font(100, 96, 500);
  
    @include media-breakpoint-down(md) {
      @include font(44, 42, 500);
    }
  }
  
  p {
    font-family: "BwMitga";
  }
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DTW";
}

p,
li a,
.btn {
  font-family: "TT";
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
li a,
.btn {
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
li a {
  text-transform: uppercase;
}

h1 {
  @include font(60, 80, 400);

  @include max-width(b-md) {
    @include font(32, 40, 400);
  }
}

h2 {
  @include font(30, 40, 400);

  @include max-width(b-md) {
    @include font(18, 25, 400)
  }
}

h3 {
  @include font(25, 40, 400);

  @include max-width(b-md) {
    @include font(14, 18, 400)
  }
}

h4 {
  @include font(20, 40, 400);

  @include max-width(b-md) {
    @include font(14, 18, 400)
  }

  &.black {
    color: #000;
  }
}


p {
  @include font(24, 40, 500);

  span {
    font-weight: 700;
  }

  @include max-width(b-md) {
    @include font(16, 18, 500)
  }
}

li a {
  @include font(16, 22, 700);
}