.shadow {
  position: absolute;
  border-radius: 50%;
  background: radial-gradient(50% 50% at 50% 50%, #DB3AB4 14.37%, rgba(249, 21, 194, 0) 100%);
  z-index: -1;

  &-1 {
    width: 1396px;
    height: 1396px;
    top: -270px;
    left: -1041px;
  }

  &-2 {
    width: 2080px;
    height: 2080px;
    top: -1900px;
  }

  &-3 {
    width: 3394px;
    height: 3394px;
    bottom: -2778px;
    left: -366px;
  }

  &-4 {
    width: 2060px;
    height: 2060px;
    top: 1200px;
    left: 400px;
  }

  &-5 {
    width: 2060px;
    height: 2060px;
    top: 1420px;
    left: -1614px;
  }

  &-6 {
    width: 3174px;
    height: 3174px;
    top: -360px;
    right: -2260px;
  }
}

.main-shadow {
  &-1 {
    width: 1396px;
    height: 1396px;
    top: -500px;
    left: -1211px;
  }

  &-2 {
    width: 2080px;
    height: 2080px;
    top: -1810px;
    left: 0;
  }

  &-3 {
    width: 1300px;
    height: 1300px;
    top: 3000px;
    right: -680px;
  }

  &-4 {
    width: 1300px;
    height: 1300px;
    top: 2350px;
    left: -975px;
  }

  &-5 {
    width: 2080px;
    height: 2080px;
    top: 355px;
    right: -760px;
  }

  &-6 {
    width: 3394px;
    height: 3394px;
    top: 4720px;
    left: -110px;
  }
}