-
	var hero = 
		{
			title: 'Зовнішня реклама',
			url: 'images/outdoor-adv.png',
			alt: 'hero',
			text: [
				'Зовнішня реклама – це графічна інформація, що розміщується на спеціальних рекламних конструкціях на вулиці, поруч із транспортними шляхами та на фасадах будівель тощо. Повноцінна рекламна компанія без використаннях «бордів» в сучасному суспільстві неможливе, так як вони являються ключовим маркетинговим інструментом.',
				'Основною перевагою такої реклами є те, що її неможливо пропустити чи проігнорувати. Вона завжди перед очима у аудиторії, основний меседж на такій рекламі має бути лаконічним.'
			]
		}
		grid = [
			{
				title: 'Білборди та сітілайти', 
				link: '#',
				url: '../images/outdoor-adv.png',
				alt: '',
			},
			{
				title: 'Вивіски, об`ємні букви', 
				link: '#',
				url: '../images/singboards.png',
				alt: '',
			},
			{
				title: 'Вітрини та фасади', 
				link: '#',
				url: '../images/fasades.png',
				alt: '',
			},
			{
				title: 'Брендування авто', 
				link: '#',
				url: '../images/auto-branding.png',
				alt: '',
			},
			{
				title: 'Банерна реклама', 
				link: '#',
				url: '../images/banner-adv.png',
				alt: '',
			},
			{
				title: 'Штендери / спотикачі', 
				link: '#',
				url: '../images/stander.png',
				alt: '',
			},
		]
		works = [
			{
				url: '../images/last-works/4.png',
				alt: '',
			},
			{
				url: '../images/last-works/5.png',
				alt: '',
			},
			{
				url: '../images/last-works/2.png',
				alt: '',
			},
		]
doctype html
html(lang="en")
	include pug/sections/global/head
	body
		article
			include pug/sections/global/header
			include pug/sections/hero
			include pug/sections/decides
			section.section.page-text 
				.page-text__wrapper 
					.container 
						.page-text__inner 
							p <span>Реклама на білбордах</span> – найпопулярніший вид зовнішньої реклами. Понад 100 років білборди не втрачають позиції в образі наших міст та доріг. Реклама на щитах – статична конструкція найчастіше розміром 6х3. На таку площину клеїться стандартний постер на папері блю бек - спеціальний вологостійкий папір для вуличного розміщення, так само за наявності технічної можливості для тривалого розміщення на ньому може бути розміщений банер.
							p <span>Призматрон (призмавіжн, роллер)</span> - динамічний рекламоносій, що дозволяє розміщувати на одній рекламній площині до 3 рекламних сюжетів, які із певною затримкою в часі змінюють автоматично одне-одного.  Являє собою тригранну конструкцію, яка обертається навколо своєю осі, демонструючи по черзі кожну з граней. Час затримки рекламного сюжету загалом 15-30 секунд. На призмах викорситовується лише стандартний постер на папері блю бек.

							p <span>Сітілайт/Сітіскролл</span> – рекламна конструкція формату 1,2х1,8, яка є найбільш популярною серед клієнтів через доступність ціни та географії охоплення. Розміщується на основних магістралях транспортних та пішохідних потоків в максимально близьким контактом з аудиторією.  Як рекламний матеріал використовується постер на спеціальному сіті папері. Сітілайти можуть бути статичними, а також скроллерними.

							p <span>Скролл ( сітіборд, скроллер)</span> - це сучасний динамічний рекламоносій, розміром 3,14*2,32 м, 4*3 м 6*3 м, складається з металевого короба оснащеного горизонтальною системою прокручування сюжетів і внутрішнім світлодіодним підсвічуванням. Конструкція естетична і добре виглядає увечері через підсвічування по всій площі. Одночасно розміщується до 5 сюжетів, як рекламний матеріал використовується поліман, спеціальний щільний гнучкий матеріал.

							p <span>Беклайт</span> - статична рекламна конструкція, являє собою короб з внутрішнім підсвічуванням, розташований на опорі, рідше на стіні. Рекламоносій статусний, виграшно виглядає у вечірній час, ідеально підходить для іміджевої реклами

							p <span>Брандмауер</span> – статична рекламна конструкція, що розташована на торцевій стіні будівлі. Є металоконструкцією, на яку кріпиться банер або банерна сітка, іноді із зовнішнім підсвічуванням. Бувають різні за площею, переважно великих і дуже великих розмірів.
			include pug/sections/works
			include pug/sections/rewiews
			include pug/sections/feedback
			include pug/sections/popups
			include pug/sections/shadow
			include pug/sections/global/footer