-
	var hero = 
		{
			title: 'Друкуємо все',
			url: 'images/print-all.png',
			alt: 'hero',
			text: [
				'Друкована рекламна продукція — один з найбільш ефективних 	способів прямого впливу на потенційних споживачів. Наразі це невід’ємна частина будь-якого бізнесу, адже сприяє просуванню бренду або товару незалежно від виду діяльності.',
				'Є три основних основних види друку, які різняться за термінами виготовлення та вартістю. На базі рекламно-виробничого агентства «ВІВА» Ви можете замовити як цифровий так і офсетний друк, а також широкоформатну продукцію.'
			]
		}
		grid = [
			{
				title: 'Візитки та флаєри', 
				link: '#',
				url: '../images/flyers.png',
				alt: '',
			},
			{
				title: 'Банери та плівка', 
				link: '#',
				url: '../images/banners.png',
				alt: '',
			},
			{
				title: 'Буклети та плакати', 
				link: '#',
				url: '../images/poster.png',
				alt: '',
			},
			{
				title: 'Меню та блокноти', 
				link: '#',
				url: '../images/notes.png',
				alt: '',
			},
			{
				title: 'Наклейки і ектикетки', 
				link: '#',
				url: '../images/stickers.png',
				alt: '',
			},
			{
				title: 'Любе кіно ;)', 
				link: '#',
				url: '../images/free-flyer.png',
				alt: '',
			},
		]
		works = [
			{
				url: '../images/last-works/4.png',
				alt: '',
			},
			{
				url: '../images/last-works/5.png',
				alt: '',
			},
			{
				url: '../images/last-works/2.png',
				alt: '',
			},
		]
doctype html
html(lang="en")
	include pug/sections/global/head
	body
		article
			include pug/sections/global/header
			include pug/sections/hero
			include pug/sections/decides
			section.section.page-text 
				.page-text__wrapper 
					.container 
						.page-text__inner 
							p <span>Цифровий друк</span>— швидкий у виконанні метод друку, який користується популярністю для виконання невеликих тиражів рекламної продукції на професійних друкарських машинах, через собівартість виготовлення одного примірника.
							p <span>Офсетний друк</span>— економічно вигідний вид друку для великих тиражів(від 500-1000 примірників) в якому зображення наноситься на спеціальну пластину, після чого за допомогою проміжного офсетного циліндра - на носій. Виконується в збірних тиражах, що забезпечує низьку вартість одного примірника. Чим більший тираж – тим вигіднішим стає друк.
							p <span>Широкоформатний друк</span>— технологія друку із нанесення зображення на великі за площею рулонні матеріали. Дозволяє виготовляти рекламні матеріали найвищої якості, які будуть стійкі до сонячних променів, снігу, дощу тощо. На сьогодні даний друк дозволяє відтворювати зображення будь-якої складності, як на папері та банерній тканині, так і на самоклеючій плівці.
			include pug/sections/works
			include pug/sections/rewiews
			include pug/sections/feedback
			include pug/sections/popups
			include pug/sections/shadow
			include pug/sections/global/footer