-
	var hero = 
			{
				title: 'розробка сайтів',
				url: 'images/web-dev.png',
				alt: 'hero',
				text: [
					'Якщо Вас немає в Інтернеті, то Вас немає в бізнесі. Не має значення який розмір Вашого бізнесу, скільки у Вас співробітників та який оборот капіталу робите за місяць. Не має значення чим Ви займаєтесь і в якій ніші - 91% Ваших клієнтів є активними користувачами мережі Інтернет.',
					'Сучасний ринок диктує свої тенденції, основною з яких являється присутність в глобальній мережі та активне просування в ній. Важливо мати сайт або лендінг, бути представленим в соціальних мережах та знаходитись в ТОПі видачі пошукових систем.',
				]
			}
	var works = [
		{
			url: '../images/last-works/1.png',
			alt: '',
		},
		{
			url: '../images/last-works/8.png',
			alt: '',
		},
		{
			url: '../images/last-works/9.png',
			alt: '',
		},
	]
doctype html
html(lang="en")
	include pug/sections/global/head
	body
		article
			include pug/sections/global/header
			include pug/sections/hero
			section.section.grid 
				.grid__wrapper 
					.container 
						.grid__inner 
						ul.grid__content.grid-content.lists.center
							li.grid-content__item 
								h4.grid-content__title Сайт «під ключ»
								.grid-content__text
									p Забезпечимо створення ідеального сайту з мінімальним Вашим втручанням в процеси, від ідеї до  наповнення контентом
							li.grid-content__item 
								h4.grid-content__title Популяризація бренду
								.grid-content__text
									p Підвищимо впізнаваність та лояльність аудиторії до Вашої компанії в глобальній мережі за допомогою сайту
							li.grid-content__item 
								h4.grid-content__title Ефективні рішення
								.grid-content__text
									p Створимо унікальний дизайн з індивідуальним підходом до кожного клієнта для отримання максимального результату
							li.grid-content__item 
								h4.grid-content__title Продажі х3
								.grid-content__text
									p З нами легко збільшити продажі в інтернеті - професійна стратегія інтернет маркетингу та налаштування реклами
							li.grid-content__item 
								h4.grid-content__title Адаптивність сайту
								.grid-content__text
									p Для нас важливо, щоб користувачі мали однаково зручний доступ до сайту як з мобільних, так і стаціонарних пристроїв
							li.grid-content__item 
								h4.grid-content__title Якість та безпека
								.grid-content__text
									p Забезпечимо стабільну та захищену роботу Вашого сайту, а також збереження інформації на ньому з доступом 24/7
			section.section.product 
				.product__wrapper 
					.container 
						.product__inner 
							.product__item
								.top
									.product__descr 
										h2.product__title landing page
										.product__text 
											p Landing page (з англ. – “посадкова сторінка”) – це цільова сторінка, яка спонукає користувача виконати певну дію. Такою дією може бути покупка товару, замовлення послуги, запис на, підписка на розсилку та ін.
											p.desktop Традиційно вважається, що лендінг – це одна довга сторінка. Насправді це не завжди так: кількість сторінок не є принципово важливими. Основними характеристиками лендінгу є: концентрація на вирішенні головного завдання (конверсійної дії, яку повинен зробити відвідувач), обмеження в часі (часто вони створюються під подію або для розпродажів), дещо характерні елементи структури.
									.product__image 
										img(src="images/web-site1.png", alt="")
								.bottom 
									p.mobile Традиційно вважається, що лендінг – це одна довга сторінка. Насправді це не завжди так: кількість сторінок не є принципово важливими. Основними характеристиками лендінгу є: концентрація на вирішенні головного завдання (конверсійної дії, яку повинен зробити відвідувач), обмеження в часі (часто вони створюються під подію або для розпродажів), дещо характерні елементи структури.
									p Базова структура посадкової сторінки містить:
									.product__scroll_cnt
										.product__steps.flex-steps.desktop
											.product__step.btn-no-disable 
												p Заголовок
											include images/svg/arrow-right.svg
											.product__step.btn-no-disable 
												p Опис
											include images/svg/arrow-right.svg
											.product__step.btn-no-disable 
												p Заклик до дії
											include images/svg/arrow-right.svg
											.product__step.btn-no-disable 
												p Лід-форму
									p Все інше – додаткові елементи, за допомогою яких можна переконувати користувача виконати цільову дію. Для цього використовуються дизайнерські й маркетингові рішення: красиві фотографії, відеопрезентації, детальний опис переваг, відгуки, знижки і т.д.
							.product__item
								.top.reverse
									.product__descr 
										h2.product__title Сайт візитка
										.product__text 
											p Сайт візитка – це повноцінний інтернет-ресурс, як правило, складається з декількох сторінок, що містять основну інформацію про компанію, її діяльність, пропоновані товари або послуги, особливості та способи зворотного зв’язку.
											p.desktop Грамотно розроблений такий сайт стає візитною карткою, ефективною рекламою, цілодобовим офісом, обличчям компанії в Інтернеті та джерелом нових клієнтів. 
									.product__image 
										img(src="images/web-site2.png", alt="")
								.bottom 
									p.mobile Грамотно розроблений такий сайт стає візитною карткою, ефективною рекламою, цілодобовим офісом, обличчям компанії в Інтернеті та джерелом нових клієнтів. 
									p Сайт візитка повинен:
									.product__scroll_cnt
										.product__steps.landing.flex-steps
											.btn-no-disable 
												p Розширити базу клієнтів
											.btn-no-disable 
												p Розповісти про діяльність компанії
											.btn-no-disable 
												p Вигідно представити компанію, що працює в офлайні/онлайні
											.btn-no-disable 
												p Презентувати послуги або товар
									p Він представляє собою невелику презентаційний портал компанії та її послуг і містить, як правило, загальну інформацію про компанію, послуги, прайс-лист, реквізити, схему проїзду тощо. 
							.product__item
								.top
									.product__descr 
										h2.product__title Корпоративний сайт
										.product__text 
											p Корпоративний сайт – ресурс, що має потужні функціональні можливості і розгалужену структуру з великою кількістю розділів і підрозділів, що містять детальну інформацію про компанію та її послуги (або товари).
									.product__image 
										img(src="images/web-site3.png", alt="")
								.bottom 
									p Це оптимальний варіант для середнього і великого бізнесу, для великих підприємств з кількома напрямками діяльності, філіями, підрозділами. 
									p Корпоративний сайт є потужним інструментом для ведення бізнесу в Інтернеті та має змогу повністю самостійно управляти Вашим веб-сайтом за допомогою адміністративної панелі - міняти зміст, додавати розділи, сторінки, гнучко управляти шаблонами сайту. 
									p У таких сайтах не тільки професійне візуальне оформлення, а й продумана структура інформації, її розташування і простота знаходження.
							.product__item
								.top.reverse
									.product__descr 
										h2.product__title Інтернет магазин 
										.product__text 
											p Інтернет магазин - це сайт, призначений для продажу товарів, вибір яких здійснюється з каталогу. Інтернет-магазин може бути як спеціалізованим, так і універсальним. Саме тому одним з найбільш ефективних інструментів для ведення бізнесу в Глобальній Мережі є розробка інтернет-магазину.

									.product__image 
										img(src="images/web-site4.png", alt="")
								.bottom 
									p На відміну від магазину в звичному розумінні, віртуальна торгова точка працює без перерв і вихідних. Крім того, інтернет-магазин реалізує свої товари або послуги всім без винятку осіб, які мають доступ до мережі Інтернет.
									p Нарешті, такий бізнес-ресурс дозволяє домогтися істотної економії на придбанні чи оренді торговельних і складських приміщень, а також на заробітній платі десятка співробітників, функції яких може виконувати один кваліфікований фахівець. 
							.product__item
								.top
									.product__descr 
										h2.product__title Аналітика та просування
										.product__text 
											p Інтернет простір є одним із найбільш ефективних майданчиків для рекламодавців. Наразі сучасний бізнес не може успішно розвиватись без представлення в інтернеті та соціальних мережах, а діджитал маркетинг є одним із найпотужніших інструментів просування брендів!
											p.desktop Практично кожен із нас щодня зіштовхується з рекламними матеріалами на своїх гаджетах, саме тому не втрачайте шанс та почніть пізнавати переваги інтернет реклами разом з нами.
									.product__image
										img(src="images/analytic.png", alt="") 
								p.mobile Практично кожен із нас щодня зіштовхується з рекламними матеріалами на своїх гаджетах, саме тому не втрачайте шанс та почніть пізнавати переваги інтернет реклами разом з нами.
							.product__item
								.top
									.product__descr 
										h2.product__title Технічна підтримка
										.product__text 
											p Технічна підтримка сайтів - комплекс постійних, системних і регулярно проведених робіт з сайтом і серверним оточенням, орієнтованих на безперервний розвиток, удосконалення проекту, підтримку цілісності його структури, безпеки і безперебійності роботи.
											p Технічний супровід сайту також включає в себе:
									.product__image 
										img(src="images/support.png", alt="")
								.bottom 
									.product__scroll_cnt
										.product__steps.support
											.btn-no-disable 
												p оптимізацію контенту під вимоги пошукових систем
											.btn-no-disable 
												p просування ресурсу
											.btn-no-disable 
												p наповнення унікальним текстовим і графічним контентом
											.btn-no-disable 
												p усунення технічних неполадок
											.btn-no-disable 
												p систематичне оновлення інформації
			include pug/sections/works
			include pug/sections/rewiews
			include pug/sections/feedback
			include pug/sections/popups
			include pug/sections/global/footer
			include pug/sections/shadow