.btn {
  display: block;
  text-align: center;
  width: 210px;
  background: linear-gradient(180deg, #DA3AB4 0%, #9B3AAD 100%);
  box-shadow: 0px 6.66667px 66.6667px rgba(219, 58, 180, 0.4), inset 3.33333px -6.66667px 13.3333px rgba(255, 255, 255, 0.25), inset -3.33333px 6.66667px 13.3333px rgba(255, 255, 255, 0.25);
  border-radius: 121px;
  padding: 20px 20px;
  cursor: pointer;
}