.shadow.main-shadow.main-shadow-1
.shadow.main-shadow.main-shadow-2
.shadow.main-shadow.main-shadow-3
.shadow.main-shadow.main-shadow-4
.shadow.main-shadow.main-shadow-5
.shadow.main-shadow.main-shadow-6